@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  z-index: 0;
  animation: spin 60s linear infinite; // 6 seconds for one complete revolution (10rpm)
  filter: drop-shadow(0 0 2rem rgba(255, 0, 149, 0.54));
}